        <!-- Content wrapper -->
        <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="col-md-12" style="display: flex;">
                <div class="col-md-6">
                    <h3 class="text-muted fw-light">Post Edit</h3>
                </div>
                <div class="col-md-6">
                    <a href="/admin/post-add" style="float:right;"><button class="btn btn-success">Add Post</button></a>
                </div>
            </div>
            <!-- Basic Layout -->
            <div class="row">
                <div class="col-xl">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="defaultSelect" class="form-label">Category</label>
                                    <select id="defaultSelect" class="form-select" name="category">
                                        <% categories.forEach(function(categorySelect) { %>
                                        <option value="<%= categorySelect._id %>" <%if(post.category==categorySelect._id){%> selected <% } %> ><%= categorySelect.title %></option>
                                        <% }); %> 
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-fullname">Title</label>
                                    <input type="text" class="form-control" name="title" value="<%= post.title %>"/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Description</label>
                                    <input type="text" class="form-control" name="description" value="<%= post.description %>"/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Keywords</label>
                                    <input type="text" class="form-control" name="keywords" value="<%= post.keywords %>"/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Content</label>
                                    <textarea id="editor1" name="content"><%= post.content %></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Image</label>
                                    <div class="mb-3">
                                        <img src="<%= post.image %>" style="width: 350px; height: 200px; object-fit: cover;">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="file" name="image">
                                </div>
                                <button type="submit" class="btn btn-warning">Save</button>
                            </form>
                            <a href="/admin/post-delete/delete?post=<%= post._id %>" class="btn btn-danger" style="margin-top: -65px; margin-left: 100px;">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Content -->

<%
if(operation){
    if(operation=="success"){
%>
<script>
    setTimeout(function() {
        swal({
            title: "Success",
            text: "Success",
            type: "success"
        }).then(function(){
            window.location = "/admin/post-edit/edit?post=<%= post._id %>";
        });
    }, 1000);
</script>
<% }if(operation=="fail"){ %>
<script>
    setTimeout(function() {
        swal({
            title: "Error",
            text: "Error",
            type: "error"
        }).then(function(){
            window.location = "/admin/post-edit/edit?post=<%= post._id %>";
        });
    }, 1000);
</script>
<%
    }
}
%>