    <!-- News With Sidebar Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="<%= page.image %>" style="object-fit: cover;">
                        <div class="overlay position-relative bg-light">
                            <div>
                                <h3 class="mb-3"><%= page.title %></h3>
                                <p><%- page.content %></p>
                            </div>
                        </div>
                    </div>
                    <!-- News Detail End -->
                </div>

                <div class="col-lg-4 pt-3 pt-lg-0">
                    <!-- Social Follow Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Follow Us</h3>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="<%= settings.facebook %>" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #39569E;">
                                <small class="fab fa-facebook-f mr-2"></small>
                            </a>
                            <a href="<%= settings.twitter %>" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #52AAF4;">
                                <small class="fab fa-twitter mr-2"></small>
                            </a>
                            <a href="<%= settings.instagram %>" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #C8359D;">
                                <small class="fab fa-instagram mr-2"></small>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Popular News Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Categories</h3>
                        </div>
                        <% categories.forEach((category)=> { %>
                        <div class="d-flex mb-3">
                            <img src="<%= category.image %>" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <a class="h6 m-0" href="<%= settings.link %>/<%= category.link %>"><%= category.title %></a>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    <!-- Popular News End -->
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- News With Sidebar End -->